.git
.gitignore
.gitattributes
.golangci.yml

.vscode
.idea
*.swp
*.swo

*.log
*.tmp
*.test
*.out
*.prof

.DS_Store
Thumbs.db

vendor/
node_modules/

qp
*.exe
*.dll
*.so
*.dylib
*.a
*.o

docker/
.github/

qp.1

src-bundle/
.env
