pkgbase = qp
	pkgdesc = qp - Query Packages. A CLI utility for querying installed packages, written in Go.
	pkgver = 4.0.0
	pkgrel = 1
	url = https://github.com/Zweih/qp
	arch = any
	license = GPL3
	makedepends = go
	provides = qp
	conflicts = qp-bin
	conflicts = qp-git
	replaces = yaylog
	source = https://github.com/Zweih/qp/releases/download/v4.0.0/qp-v4.0.0.tar.gz
	sha256sums = f4f42ffdc35121b88d650a11ea1fd29d525ab47427a037154aeeaada6da78949

pkgname = qp
