pkgbase = qp
	pkgdesc = qp - query packages. A CLI utility for querying installed packages across multiple package ecosystems.
	pkgver = 5.102.2
	pkgrel = 1
	url = https://github.com/Zweih/qp
	arch = any
	license = GPL3
	makedepends = go>=1.24.1
	optdepends = sqlite: RPM support
	conflicts = qp-bin
	conflicts = qp-git
	replaces = yaylog
	replaces = yaylog-bin
	replaces = yaylog-git
	source = https://github.com/Zweih/qp/releases/download/v5.102.2/qp-v5.102.2.tar.gz
	sha256sums = 05582d0c93cb5afcd59752af847b3c7e23ea29dcea8d78530ae1e1af7d61ea15

pkgname = qp
