pkgbase = qp
	pkgdesc = qp - Query Packages. A CLI utility for querying installed packages, written in Go. Replaces yaylog.
	pkgver = 5.13.0
	pkgrel = 1
	url = https://github.com/Zweih/qp
	arch = any
	license = GPL3
	makedepends = go>=1.24.1
	conflicts = qp-bin
	conflicts = qp-git
	replaces = yaylog
	replaces = yaylog-bin
	replaces = yaylog-git
	source = https://github.com/Zweih/qp/releases/download/v5.13.0/qp-v5.13.0.tar.gz
	sha256sums = ff630720d5462e627050c0cf72f6afb00b3d328eebb4df5b13b1757aec7f1c00

pkgname = qp
