pkgbase = qp-bin
	pkgdesc = qp - query packages. A CLI utility for querying installed packages across multiple package ecosystems.
	pkgver = 5.86.4
	pkgrel = 1
	url = https://github.com/Zweih/qp
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL3
	optdepends = sqlite: RPM support
	provides = qp
	conflicts = qp
	conflicts = qp-git
	replaces = yaylog
	replaces = yaylog-bin
	replaces = yaylog-git
	source_x86_64 = https://github.com/Zweih/qp/releases/download/v5.86.4/qp-v5.86.4-x86_64.tar.gz
	sha256sums_x86_64 = bb367fd3e9423410c1caa0db873244e12d7c34afd44cd543316d833ab54eb3ef
	source_aarch64 = https://github.com/Zweih/qp/releases/download/v5.86.4/qp-v5.86.4-aarch64.tar.gz
	sha256sums_aarch64 = 202535d054bd48915d22d33c7ed1ceef3b5ca68b4e91c92cb0d081069cd9f035
	source_armv7h = https://github.com/Zweih/qp/releases/download/v5.86.4/qp-v5.86.4-armv7h.tar.gz
	sha256sums_armv7h = 77606065470b11927ac1a328473ea6c1e311780cba2527101b854e58441b1440

pkgname = qp-bin
