pkgbase = qp-git
	pkgdesc = qp - Query Packages. A CLI utility for querying installed packages, written in Go.
	pkgver = 4.0.0.r0.g539dd1f
	pkgrel = 1
	url = https://github.com/Zweih/qp
	arch = any
	license = GPL3
	makedepends = go
	makedepends = git
	provides = qp
	conflicts = qp
	conflicts = qp-bin
	replaces = yaylog-git
	source = qp::git+https://github.com/Zweih/qp.git
	sha256sums = SKIP

pkgname = qp-git
